<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>81367402437-gcav0tls26nn1lcd80aoh6jlm391r4hs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81367402437-gcav0tls26nn1lcd80aoh6jlm391r4hs</string>
	<key>API_KEY</key>
	<string>AIzaSyAdl7KlvLdfJ-Z2NOSTer7-uBZfIemPBTU</string>
	<key>GCM_SENDER_ID</key>
	<string>81367402437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vanessanader.aPollo</string>
	<key>PROJECT_ID</key>
	<string>apollo-1db5d</string>
	<key>STORAGE_BUCKET</key>
	<string>apollo-1db5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81367402437:ios:1c56890ba167d1c4</string>
	<key>DATABASE_URL</key>
	<string>https://apollo-1db5d.firebaseio.com</string>
</dict>
</plist>